body {
    background-color:black;
    color: #111;
    font: 1em helvetica, arial, sans-serif;
  }
  .course{
    background-color:#6B5B95;
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
    padding: 1em 1em;
    margin: 1em;
    overflow: hidden;
    width:80%;
    align-content: center;
    color: white;
   
  }

  #app{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: aliceblue;

    
  }

  
