body {
    background-color: #FF6F61;
    color: #111;
    font: 1em helvetica, arial, sans-serif;
  }
  .course{
    background-color:#6B5B95;
    box-shadow: 0 0 1em rgba(0,0,0,0.5);
    padding: 1em 1em;
    margin: 1em;
    overflow: hidden;
    display: grid;
    width:50%;
    align-content: center;
    color: white;
   
  }

  


  